body{
    background-image: url(imgs/f10335488.jpg);
    background-size: 100%;
}
h1{
    color: rgb(0, 195, 255); text-align: center; font-size: 40px;

}
span{
    color:#5310be;
}
img{
    width: 300px;
    height: 300px; 
    /* margin: -20px 1px 1px 580px; */
    opacity: 0.8;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%)

}

h2{
    color: lemonchiffon;
}

input{
    width: 200px;
    height: 50px;
    font-size: 20px;   
    border: 0px;
    border-radius: 9px;
    background-color:  #5310be;
    color: whitesmoke;
}
input.com-fo{
    background-color: rgb(206, 248, 16);
    color: rgb(113, 123, 141);
    margin-bottom: 17px;
}
input:hover{
    background-color: #00db5b;
    color: whitesmoke;
    height: 52px;
    border-radius: 5px 25px 5px 25px;
    transition: 0.320s;
  
}
input:active{
    background-color: #efff10;
    color: grey;
} 

div#contain{
    margin-left: 280px;
}
h2.w{
    margin-left: 20px;
}
#com{
    
    /* margin: 430px 100px -550px 510px; */
top: 32%;
right: 82%;
position: absolute;
margin: 12px 0px;
}
 


#emp{
    /* margin: -157px 10px 1px 350px; */
padding: 2px 0px;
top: 33%;
left: 22%;
position: absolute;


}
.but{
    background-color: rgb(31, 204, 8);
}
.butt{
    background-color: rgba(255, 0, 0, 0.959);
}
a input{
    display: block;
}
a#in{
    margin-left: -420px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
/* .butt{
    background-color:rgb(16, 180, 230);
    color: black;
    width: 110px;
    height: 50px;
    border-radius: 5px;
    border: 2px #5310be solid;
    right: 300px;
}
#up{
    margin: 50px 150px 20px 400px;
} */

